* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 100;
}

.d-inline-block {
    display: inline-block;  
}

.align-middle {
    vertical-align: top;
}

.nav {
    display: flex;
    flex-wrap: wrap;
}