* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

html, body {
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 100;
    background-image: linear-gradient(to right, #00e0d0 0%, #4aa3cc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo-img {
    width: 44px;
    height: 50px;
}

.align-middle {
    vertical-align: top;
}

.nav {
    display: flex;
    flex-wrap: wrap;
}

.nav-link {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.33px;
}

.nav .nav-link {
    margin-left: 3em;
}

.nav-link:hover {
    color: #00e0d0;
    transition: .5s;
}

.cover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 2;
}

.bg-img {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.gradient:before {
    content: '';
    background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
    position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    opacity: 0.85;
    z-index: 1;
}

.section-heading {
    letter-spacing: 0.32px;
    font-weight: 600;
    font-size: 32px;
    color: #ffffff;
    font-family: "Playfair";
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}