$font-header:         'Roboto', sans-serif;
$font-text:           'Roboto', sans-serif;
$font-btn:            'Hammersmith One', sans-serif;
$font-heading:        'Playfair Display', serif;


$color-white:            #fff;
$color-white-dark:       #f3f3f3;
$color-white-light:      #fafafa;
$color-green:            #00e0d0;
$color-grey-light:       #413d4b;
$color-grey-medium:      #2f2d35;
$color-grey-dark:        #333;
$color-border:           rgba(0, 0, 0, 0.37);