/* line 2, ../scss/sections/_header.scss */
.gradient::before {
  content: '';
  background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.85;
  z-index: 1;
}
/* line 14, ../scss/sections/_header.scss */
.gradient-img {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* line 23, ../scss/sections/_header.scss */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  width: 80%;
  margin: 0 auto;
}

/* line 33, ../scss/sections/_header.scss */
.logo {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
  background-image: linear-gradient(to right, #00e0d0 0%, #4aa3cc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* line 42, ../scss/sections/_header.scss */
.logo-img {
  width: 44px;
  height: 50px;
}

/* line 48, ../scss/sections/_header.scss */
.align-middle {
  vertical-align: top;
}

/* line 52, ../scss/sections/_header.scss */
.nav {
  display: flex;
  flex-wrap: wrap;
}
/* line 56, ../scss/sections/_header.scss */
.nav-link {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.33px;
}
/* line 65, ../scss/sections/_header.scss */
.nav .nav-link {
  margin-left: 3em;
}
/* line 68, ../scss/sections/_header.scss */
.nav .nav-link:hover {
  color: #00e0d0;
  transition: .5s;
}

/* line 76, ../scss/sections/_header.scss */
.cover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}
