/* line 1, ../scss/sections/_buttons.scss */
.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid #00e0d0;
  margin-bottom: 10px;
}
/* line 10, ../scss/sections/_buttons.scss */
.btn-lg {
  font-family: "Hammersmith One", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 15px;
}
/* line 18, ../scss/sections/_buttons.scss */
.btn-primary {
  color: #00e0d0;
  background-color: transparent;
  border-color: #00e0d0;
}

/* line 26, ../scss/sections/_buttons.scss */
.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
/* line 35, ../scss/sections/_buttons.scss */
.button-logo {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

/* line 1, ../scss/sections/_gradient.scss */
.gradient {
  min-height: 100vh;
  position: relative;
}
/* line 5, ../scss/sections/_gradient.scss */
.gradient:after {
  content: '';
  background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.85;
  z-index: 1;
}
/* line 17, ../scss/sections/_gradient.scss */
.gradient-img {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* line 1, ../scss/sections/_header.scss */
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.42px;
}

/* line 8, ../scss/sections/_header.scss */
.header {
  position: relative;
  z-index: 2;
}
/* line 12, ../scss/sections/_header.scss */
.header .wrapper {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

/* line 21, ../scss/sections/_header.scss */
.logo {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
  background-image: linear-gradient(to right, #00e0d0 0%, #4aa3cc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* line 30, ../scss/sections/_header.scss */
.logo-img {
  width: 44px;
  height: 50px;
}

/* line 36, ../scss/sections/_header.scss */
.align-middle {
  vertical-align: top;
}

/* line 42, ../scss/sections/_header.scss */
.nav ul {
  display: flex;
  flex-wrap: nowrap;
}
/* line 47, ../scss/sections/_header.scss */
.nav-link {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.33px;
}
/* line 56, ../scss/sections/_header.scss */
.nav .nav-link {
  margin-left: 2em;
}
/* line 59, ../scss/sections/_header.scss */
.nav .nav-link:hover {
  color: #00e0d0;
  transition: .5s;
}

/* line 67, ../scss/sections/_header.scss */
.cover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  padding: 0 10px;
}

/* line 78, ../scss/sections/_header.scss */
.main-heading {
  letter-spacing: 0.32px;
  font-weight: 600;
  font-size: 32px;
  color: #fff;
  font-family: "Playfair Display", serif;
  margin-bottom: 30px;
}
/* line 86, ../scss/sections/_header.scss */
.main-heading:after {
  border-bottom-color: #00e0d0;
  padding-top: 20px;
  content: '';
  display: block;
  margin: 0 auto;
  width: 50px;
  border-bottom-style: inset;
  border-bottom-width: 0.5px;
}

/* line 92, ../scss/sections/_header.scss */
.cover p {
  letter-spacing: 0.7px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 50px;
}

/* line 1, ../scss/sections/_our-story.scss */
.our-story {
  min-height: 100vh;
  padding: 70px 0;
  display: flex;
  align-items: center;
  color: #413d4b;
}
/* line 8, ../scss/sections/_our-story.scss */
.our-story-img {
  padding-left: 10px;
  padding-right: 50px;
  width: 295px;
  height: 229px;
}
/* line 15, ../scss/sections/_our-story.scss */
.our-story p {
  opacity: 0.9;
  line-height: 22px;
  margin-bottom: 30px;
}
/* line 21, ../scss/sections/_our-story.scss */
.our-story .wrapper {
  width: 55%;
  flex-wrap: nowrap;
  align-items: center;
}
/* line 26, ../scss/sections/_our-story.scss */
.our-story .wrapper div {
  padding-left: 50px;
  padding-right: 10px;
}
/* line 32, ../scss/sections/_our-story.scss */
.our-story h3 {
  margin-bottom: 30px;
}

/* line 38, ../scss/sections/_our-story.scss */
.wrapper {
  position: relative;
  z-index: 3;
  margin: 0 auto;
}

/* line 44, ../scss/sections/_our-story.scss */
.header-section {
  letter-spacing: 1.1px;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  color: #413d4b;
}

/* line 1, ../scss/sections/_watch-story.scss */
.watch-story {
  min-height: 100vh;
}

/* line 5, ../scss/sections/_watch-story.scss */
.fa-play-circle-o {
  margin-bottom: 35px;
}
/* line 8, ../scss/sections/_watch-story.scss */
.fa-play-circle-o:before {
  font-size: 100px;
}

/* line 1, ../scss/sections/_expertise.scss */
.expertise {
  padding: 70px 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
}
/* line 8, ../scss/sections/_expertise.scss */
.expertise .wrapper {
  width: 60%;
}
/* line 12, ../scss/sections/_expertise.scss */
.expertise header {
  margin-bottom: 50px;
  padding: 0 10px;
}
/* line 16, ../scss/sections/_expertise.scss */
.expertise header h3 {
  margin-bottom: 15px;
}
/* line 20, ../scss/sections/_expertise.scss */
.expertise header .header-content {
  color: #2f2d35;
}

/* line 27, ../scss/sections/_expertise.scss */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* line 33, ../scss/sections/_expertise.scss */
.header-content {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  letter-spacing: 1.05px;
  opacity: 0.75;
}
/* line 39, ../scss/sections/_expertise.scss */
.header-content:after {
  border-bottom-color: #413d4b;
  padding-top: 15px;
  content: '';
  display: block;
  margin: 0 auto;
  width: 50px;
  border-bottom-style: inset;
  border-bottom-width: 0.5px;
  opacity: 0.7;
}

/* line 45, ../scss/sections/_expertise.scss */
.expertise li {
  flex: 0 0 33.3%;
  max-width: 33.3%;
  padding: 30px;
}
/* line 50, ../scss/sections/_expertise.scss */
.expertise li:nth-child(3n-2) {
  border-right: 1px solid rgba(0, 0, 0, 0.37);
}
/* line 54, ../scss/sections/_expertise.scss */
.expertise li:nth-child(3n-1) {
  border-right: 1px solid rgba(0, 0, 0, 0.37);
}
/* line 58, ../scss/sections/_expertise.scss */
.expertise li:nth-child(n+4) {
  border-top: 1px solid rgba(0, 0, 0, 0.37);
}

/* line 63, ../scss/sections/_expertise.scss */
.li-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  margin-bottom: 25px;
}

/* line 72, ../scss/sections/_expertise.scss */
li p {
  color: #333;
  line-height: 22px;
  letter-spacing: 0.7px;
}

/* line 80, ../scss/sections/_expertise.scss */
.picture-one:before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("C:/Users/msoly/Documents/geekhub/tajem-master/img/first.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto 35px auto;
  z-index: 5;
}
/* line 84, ../scss/sections/_expertise.scss */
.picture-two:before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("C:/Users/msoly/Documents/geekhub/tajem-master/img/second.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto 35px auto;
  z-index: 5;
}
/* line 88, ../scss/sections/_expertise.scss */
.picture-three:before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("C:/Users/msoly/Documents/geekhub/tajem-master/img/third.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto 35px auto;
  z-index: 5;
}
/* line 92, ../scss/sections/_expertise.scss */
.picture-four:before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("C:/Users/msoly/Documents/geekhub/tajem-master/img/forth.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto 35px auto;
  z-index: 5;
}
/* line 96, ../scss/sections/_expertise.scss */
.picture-five:before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("C:/Users/msoly/Documents/geekhub/tajem-master/img/fifth.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto 35px auto;
  z-index: 5;
}
/* line 100, ../scss/sections/_expertise.scss */
.picture-six:before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("C:/Users/msoly/Documents/geekhub/tajem-master/img/sixth.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto 35px auto;
  z-index: 5;
}

/* line 1, ../scss/sections/_our-team.scss */
.our-team {
  padding: 70px 0;
  min-height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  background: url("C:/Users/msoly/Documents/geekhub/tajem-master/img/forrest.png") no-repeat center center;
  background-size: auto 100%;
}
/* line 10, ../scss/sections/_our-team.scss */
.our-team .wrapper {
  width: 80%;
}
/* line 14, ../scss/sections/_our-team.scss */
.our-team-img {
  width: 220px;
  height: 229px;
  padding-bottom: 15px;
}
/* line 20, ../scss/sections/_our-team.scss */
.our-team header {
  margin-bottom: 50px;
  padding: 0 10px;
}
/* line 24, ../scss/sections/_our-team.scss */
.our-team header h3 {
  margin-bottom: 15px;
  color: #fff;
}
/* line 29, ../scss/sections/_our-team.scss */
.our-team header .header-content {
  color: #f3f3f3;
}
/* line 35, ../scss/sections/_our-team.scss */
.our-team footer p {
  letter-spacing: 0.7px;
  color: #f3f3f3;
  margin-bottom: 25px;
}

/* line 45, ../scss/sections/_our-team.scss */
.our-team .header-content:after {
  border-bottom-color: #fff;
  padding-top: 15px;
  content: '';
  display: block;
  margin: 0 auto;
  width: 50px;
  border-bottom-style: inset;
  border-bottom-width: 0.5px;
  opacity: 0.7;
}

/* line 51, ../scss/sections/_our-team.scss */
.our-team li {
  border: 1px solid #e1e1e1;
  margin: 0 10px 70px 10px;
}
/* line 55, ../scss/sections/_our-team.scss */
.our-team li h4 {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  margin-bottom: 7px;
}
/* line 63, ../scss/sections/_our-team.scss */
.our-team li p {
  opacity: 0.7;
  color: #fafafa;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* line 1, ../scss/sections/_our-works.scss */
.our-works {
  padding: 70px 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* line 8, ../scss/sections/_our-works.scss */
.our-works .row {
  margin-bottom: 70px;
}
/* line 12, ../scss/sections/_our-works.scss */
.our-works-img {
  width: 265px;
  height: 100%;
}
/* line 17, ../scss/sections/_our-works.scss */
.our-works div {
  margin: 0px auto;
}

/* line 23, ../scss/sections/_our-works.scss */
.our-works .header {
  padding: 70px 15px 0 15px;
  margin-bottom: 70px;
}
/* line 27, ../scss/sections/_our-works.scss */
.our-works .header .wrapper {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 37, ../scss/sections/_our-works.scss */
.header-link {
  color: #413d4b;
  letter-spacing: 0.7px;
}
/* line 42, ../scss/sections/_our-works.scss */
.header-link:after {
  content: '';
  border-style: solid;
  border-width: 6px 0 6px 6px;
  border-color: transparent transparent transparent currentColor;
  margin: 0 0 0 5px;
  width: 0;
  height: 0;
  display: inline-block;
}

/* line 1, ../scss/sections/_people-say.scss */
.people-say {
  min-height: 100vh;
  padding: 70px 0;
  text-align: center;
  display: flex;
  align-items: center;
  background: url("C:/Users/msoly/Documents/geekhub/tajem-master/img/second-forrest.png") no-repeat center center;
  background-size: auto 100%;
}
/* line 10, ../scss/sections/_people-say.scss */
.people-say .wrapper {
  width: 60%;
}
/* line 14, ../scss/sections/_people-say.scss */
.people-say .row {
  align-items: center;
}
/* line 18, ../scss/sections/_people-say.scss */
.people-say-img {
  width: 45px;
  height: 45px;
}
/* line 23, ../scss/sections/_people-say.scss */
.people-say-main {
  width: 70px;
  height: 70px;
}

/* line 29, ../scss/sections/_people-say.scss */
.article {
  color: #fff;
  padding: 0 10px;
}
/* line 33, ../scss/sections/_people-say.scss */
.article h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 3px;
}
/* line 43, ../scss/sections/_people-say.scss */
.article p {
  margin-bottom: 50px;
}
/* line 46, ../scss/sections/_people-say.scss */
.article p:first-child {
  opacity: 0.85;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  letter-spacing: 0.4px;
  font-family: "Playfair Display", serif;
}
/* line 55, ../scss/sections/_people-say.scss */
.article p:last-child {
  opacity: 0.7;
  text-transform: uppercase;
  line-height: 22px;
  font-size: 13px;
}

/* line 64, ../scss/sections/_people-say.scss */
.quotes:before {
  content: '';
  display: block;
  width: 32px;
  height: 26px;
  background: url("C:/Users/msoly/Documents/geekhub/tajem-master/img/quotes.png") no-repeat center center;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto 35px auto;
  z-index: 5;
}

/* line 76, ../scss/sections/_people-say.scss */
.clients-list li {
  margin: 0 7px;
}

/* line 1, ../scss/sections/_news-clients.scss */
.news-clients {
  min-height: 100vh;
  padding: 70px 0;
  display: flex;
  align-items: center;
}
/* line 7, ../scss/sections/_news-clients.scss */
.news-clients h3 {
  margin-bottom: 35px;
}
/* line 11, ../scss/sections/_news-clients.scss */
.news-clients .wrapper {
  width: 60%;
  flex-wrap: nowrap;
}
/* line 16, ../scss/sections/_news-clients.scss */
.news-clients .row {
  align-items: baseline;
}
/* line 20, ../scss/sections/_news-clients.scss */
.news-clients-img {
  max-width: 160px;
  max-height: 70px;
}
/* line 26, ../scss/sections/_news-clients.scss */
.news-clients li {
  margin: 10px 0;
}
/* line 29, ../scss/sections/_news-clients.scss */
.news-clients li div {
  width: 160px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

/* line 40, ../scss/sections/_news-clients.scss */
.col {
  flex: 0 0 50%;
  max-width: 50%;
}

/* line 45, ../scss/sections/_news-clients.scss */
form div + div {
  margin-top: 20px;
}

/* line 49, ../scss/sections/_news-clients.scss */
input, textarea {
  width: 90%;
  border: 1px solid rgba(0, 0, 0, 0.37);
  padding: 15px;
  letter-spacing: 0.7px;
}
