.footer {
    padding: 90px 0 70px 0;
    color: $color-white;

    & .wrapper {
        width: 60%;
    }

    &-top {

        div {
            flex: 0 0 33.3%;
            max-width: 33.3%;
        }

        h4 {
            margin-bottom: 35px;
            
        }
    }
}