body {
    font-family: $font-text;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.42px;
}

.home-section {
    min-height: 100vh;   
    color: $color-white;   
}

.header {
    position: relative;
    z-index: 2;
    
    & .wrapper {
        align-items: center;
        width: 60%;
        padding: 0 15px;
    }
}

.logo {
    font-family: $font-header;
    font-weight: 400;
    font-size: 30px;
    background-image: linear-gradient(to right, #00e0d0 0%, #4aa3cc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &-img {
        width: 44px;
        height: 50px;
    }
}

.align-middle {
    vertical-align: middle;
}

.nav {

    ul {
        display: flex;
        flex-wrap: nowrap;
    }

    &-link {
        color: $color-white;              
        font-family: $font-header;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.33px;
    }

    & .nav-link {
        margin-left: 2em;

        &:hover {
            color: $color-green;
            transition: .5s;
        }
    }

}

.cover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 2;
    padding: 0 10px;
}


.main-heading {
    letter-spacing: 0.32px;
    font-weight: 600;
    font-size: 32px;
    font-family: $font-heading;
    margin-bottom: 30px;

    &:after {
        @include separator(20px, $color-green)
    }
}

.cover {

    p {
        letter-spacing: 0.7px;
        line-height: 24px;
        margin-bottom: 50px;
    }
}


.content-between {
    justify-content: space-between;
}

.content-center {
    justify-content: center;
}

.content-start {
    justify-content: flex-start;
}