body {
    font-family: $font-text;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.42px;
}

.gradient {
        height: 100vh;

    &:before {
        content: '';
        background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.85;
        z-index: 1;
    }

    &-img {
        position: absolute;
        z-index: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    width: 60%;
    margin: 0 auto;
}

.logo {
    color: $color-white;
    font-family: $font-header;
    font-weight: 400;
    font-size: 30px;
    background-image: linear-gradient(to right, #00e0d0 0%, #4aa3cc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &-img {
        width: 44px;
        height: 50px;
    }
}

.align-middle {
    vertical-align: top;
}

.nav {
    display: flex;
    flex-wrap: nowrap;

    &-link {
        color: $color-white;
        font-family: $font-header;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.33px;
    }

    & .nav-link {
        margin-left: 3em;

        &:hover {
            color: #00e0d0;
            transition: .5s;
        }
    }

}

.cover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 2;
}


.main-heading {
    letter-spacing: 0.32px;
    font-weight: 600;
    font-size: 32px;
    color: $color-white;
    font-family: $font-heading;
    margin-bottom: 30px;

    &:after {
        content: '';
        padding-top: 20px;
        display: block;
        margin: 0 auto;
        width: 50px;
        border-bottom-style: inset;    
        border-bottom-width: 0.5px;
        border-bottom-color: $color-green;
    }
}

.cover {
    p {
        letter-spacing: 0.7px;
        line-height: 24px;
        color: $color-white;      
        margin-bottom: 50px;
    }
}
