.news-clients {
    min-height: 100vh;
    padding: 70px 0;
    display: flex;
    align-items: center;

    input, textarea {
        width: 90%;
        border: 1px solid $color-border;
        padding: 15px;
        letter-spacing: 0.7px;
    }

    h3 {
        margin-bottom: 35px;
    }

    & .wrapper {
        width: 60%;
        flex-wrap: nowrap;
    }

    .row {
        align-items: baseline;
    }

    &-img {
        max-width: 160px;
        max-height: 70px;

    }

    li{
        margin: 10px 0;

        div {
            width: 160px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: baseline;
        }
        
    }
}

.col {
    flex: 0 0 50%;
    max-width: 50%;
}

form div + div {
    margin-top: 20px;
}

