.our-works {
    padding: 70px 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .row {
        margin-bottom: 70px;
    }

    &-img {
        width: 266px;
        height: 200px;
        display: block;
    }

    div {
        text-align: center;
    }

}

.our-works .header {
    padding: 0 15px;

    & .wrapper {
        width: 60%;
        align-items: center;
    }
}

.header {

    &-link {
        color: $color-grey-light;
        letter-spacing: 0.7px;

        &:after {
            content: '';
            border-style: solid;
            border-width: 6px 0 6px 6px;
            border-color: transparent transparent transparent currentColor;
            margin: 0 0 0 5px;
            width: 0;
            height: 0;
            display: inline-block;
        }

    }
}