.our-works {
    padding: 70px 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .row {
        flex-wrap: wrap;
        margin-bottom: 70px;
    }

    &-img {
        width: 265px;
        height: 100%;
    }

    div {
        margin: 0px auto;
    }

}

.our-works .header {
    padding: 70px 15px 0 15px;
    margin-bottom: 70px;
}

.header {

    &-link {

        color: $color-grey-light;
        letter-spacing: 0.7px;

        &:after{
            content: '';
            border-style: solid;
            border-width: 6px 0 6px 6px;
            border-color: transparent transparent transparent currentColor;
            margin: 0 0 0 5px;
            width: 0;
            height: 0;
            display: inline-block;
        }

    }
}